<a [routerLink]="['/recursos/novo']" class="btn btn-primary btn-md">
  Novo recurso
</a>

<h2>{{titulo}}</h2>

<table class="table table-striped">
  <tr>
    <th>Descrição</th>
    <th>Especificações</th>
    <th>Categoria</th>
    <th>Patrimônio</th>
    <th>Excluir</th>
  </tr>
  <tr *ngFor="let recurso of recursos">
    <td>
      <a [routerLink]="['/recursos', recurso._id]">
        {{recurso.descricao}}
      </a>
    </td>
    <td>{{recurso.especificacoes}}</td>
    <td>{{recurso.categoria.descricao}}</td>
    <td>{{recurso.patrimonio}}</td>
    <td>
      <button class="btn btn-default btn-danger" (click)="excluir(recurso._id)">
        <span class="glyphicon glyphicon-trash"></span>
      </button>
    </td>
  </tr>
</table>